<div class="gmap-container">
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [styles]="styles" [scrollwheel]="scrollwheel">

    <div class="markers" *ngFor="let m of markers">
      <div class="done-markers" *ngIf="m.status == 'done'">
        <agm-marker
          [latitude]="m.location.lat"
          [longitude]="m.location.lng"
          [iconUrl] = "doneMarkerImg">
        </agm-marker>
      </div>
      <div class="pending-markers" *ngIf="m.status == 'pending'">
        <agm-marker
          [latitude]="m.location.lat"
          [longitude]="m.location.lng"
          [iconUrl] = "pendingMarkerImg">
        </agm-marker>
      </div>
    </div>

    <div class="routes" *ngFor="let stp of stops">
      <agm-map-directions
        [origin_lat]="stp.lat"
        [origin_lng]="stp.lng"
        [destination_lat]="stp.dlat"
        [destination_lng]="stp.dlng"
      ></agm-map-directions>
    </div>

  </agm-map>

</div>
